menu "FlightBus Interface Configuration"

choice
    prompt "Primary interface type"
    help
        The primary interface is the device (usually serial) where messages are sent and recieved from the simulator and other FlightBUS protocol devices
    config FLIGHTBUS_CDC_ACM
        bool "CDC-ACM UART"
        select USB_CDC_ACM
        select SERIAL
        select UART_INTERRUPT_DRIVEN
	select LOG_BACKEND_UART
        help
          Enables the FlightBus CDC-ACM UART interface for receiving FlightBus messages over USB UART

    config FLIGHTBUS_NATIVE_UART
        bool "Native TTY UART (or UART0)"
        select SERIAL
	select UART_INTERRUPT_DRIVEN
	select LOG_BACKEND_UART
        help
            Enables the FlightBus native PTY interface for receiving FlightBus messages in the native simulator
endchoice

config FLIGHTBUS_PACKET_DBG_OUTPUT
    bool "Print decoded messages to UART interface"
    default n
    help
      Prints the decoded data from the protobuf messages sent over the wire. 
      This outputs over the Logging interface, usually uart0 (not the CDC-ACM interface)

config FLIGHTBUS_UART_MAX_MSG_SIZE
    int "Max size of UART dynamic message buffer"
    default 256
    help
        The max size of the dynamic packet buffer used for decoding protobuf data from the UART interface.

endmenu

source "Kconfig.zephyr"
