menu "FlightBus Interface Configuration"

choice
    prompt "Primary interface type"
    config FLIGHTBUS_CDC_ACM
        bool "CDC-ACM UART"
        select USB_CDC_ACM
        select SERIAL
        select UART_INTERRUPT_DRIVEN
        help
          Enables the FlightBus CDC-ACM UART interface for receiving FlightBus packets over USB UART

    config FLIGHTBUS_NATIVE_UART
        bool "Native PTY UART"
        select SERIAL
        select UART_INTERRUPT_DRIVEN
        help
            Enables the FlightBus native PTY interface for receiving FlightBus packets in the native simulator
endchoice

config FLIGHTBUS_PACKET_DBG_OUTPUT
    bool "Print decoded packets to UART interface"
    default n
    help
      Prints the decoded data from the protobuf messages sent over the wire. 
      This outputs over the Logging interface, usually uart0 (not the CDC-ACM interface)

config FLIGHTBUS_UART_MAX_MSG_SIZE
    int "Max size of UART dynamic message buffer"
    default 256
    help
        The max size of the dynamic packet buffer used for decoding protobuf data from the UART interface.

endmenu

source "Kconfig.zephyr"
